@page 
@model IndexModel

<body>
    <br />
    <h1>Bem-Vindo à Loja de Funkos - O Seu Refúgio para Colecionadores</h1> <br />
    <p>
        Na Loja de Funkos, celebramos a paixão pelos personagens e heróis que amamos. Aqui, você encontrará uma ampla seleção de Funko Pops, desde super-heróis da Marvel até ícones da cultura pop. Explore nossa coleção e encontre aquele Funko perfeito para dar vida à sua paixão pela cultura pop. Seja você um colecionador experiente ou um novato, estamos aqui para tornar sua jornada de colecionador emocionante e divertida. Bem-vindo ao nosso mundo de magia e coleções.
    </p>
    <div class="row justify-content-md-center">

        @foreach (var item in Model.ListaFunkos)
        {
            <div class="card col-3 m-3">
                <img src="@item.ImagemUri" class="p-3" style="border-radius: 25px">
                <div class="card-body">
                    <h5 class="card-title">@item.Nome</h5>
                    <p class="card-text">@item.Descricao</p>
                    <a class="btn btn-primary" asp-page="/Detalhes" asp-route-slug="@item.NomeSlug" asp-route-id="@item.FunkoId">Ver mais</a>
                </div>
            </div>
        }
    </div>
</body>

